
body{
	background: white url(../imagens/fundo.jpg) repeat-x;
	font-family: 'Sansita Swashed', cursive;
}
#logo h1{
	float: left;
}
#logo a{
	width: 248px;
	height: 21px;
	display: block;
	color: white;
	text-decoration: none;
	
}
nav ul{
	list-style: none;
	margin: 20px;
	float: right;
}
nav ul li{
 float: left;
}
nav ul li a:link{
	display: block;
	margin-right: 20px;
	padding: 5px;
	text-decoration: none;
}
nav ul li a:visited{
	color: white;
}
nav ul li a:hover{
	color: blue;
	border-radius: 5px;
	background-color: white;
}
#cabecalho{
	padding: 15px;
}


footer{
	background: white url(../imagens/fundo.jpg);
	padding: 300px 0;
	margin: 0
}
footer a{
	color: white;
	text-decoration: none;
	padding: 5px;
}
footer p{
	text-align: center;
	color: white;
}
i{
	color: white;
	font-size: 3em;
	padding: 5px;
	margin: 10px;
}

